{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
    <p class="text-center">Welcome to Online Mark List Generator</p>
</div>
<div class="container">
    <p>Dear User,<br> This is a <b> Online Mark List Generating</b> Platform. This is Very Easy to Use . Implemented with a userfriendly Design, so anyone can use easily <br>  </p>
    <h3>How to Use...?</h3> 
 
    
    <ol>
        <li>Select the <b> "Create" </b>tab on the Navigation Bar. </li>
        <li>On that page there are some fields to enter the details</li>
        <li><b> All fields are mandatory</b>, So you must fill all the fields to get result</li>
        <li>After filling the fields , click on the <b> "Generate"</b> Button, Generate Button is at the end of the form.</li>
        <li>Then you can see a generated mark list with you entered details.</li>
        <li>Using this mark list you can check your semester status like <b> "Passed/Failed"</b></li>
    </ol>
    <p></p>
</div>
<div class="conatiner">
    <br>
    <br>
    <br><br>
</div>
{% endblock %}